.servicesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.service {
  width: 100%;
  padding: 35px 50px;
  border-radius: 8px;
  background-color: var(--bg-hoverColor);
}

.serviceImage {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

.serviceTitle {
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.serviceDesc {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color2);
}

@media screen and (max-width: 550px) {
  .servicesWrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    padding: 0 15px;
  }

  .service {
    width: 100%;
    padding: 30px;
  }
}

@media screen and (max-width: 370px) {
  .servicesWrapper {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
    padding: 0 10px;
  }

  .service {
    width: 100%;
    padding: 30px;
  }
}

@media screen and (max-width: 300px) {
  .service {
    width: 100%;
    padding: 20px;
  }
}
