.WorkExperienceSection {
  width: 100%;
  background-color: #181818;
  padding: 100px 0;
}

.WorkExperienceWrapper {
  display: flex;
  gap: 45px;
}

.WorkExperienceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  padding: 50px 20px;
  border-radius: 8px;
  border: 1px dashed #f6c609;
  background-color: #363636;
}

.workCount {
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
.workTitle {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 550px) {
  .WorkExperienceWrapper {
    flex-direction: column;
  }
  .WorkExperienceCard {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 778px) {
  .WorkExperienceWrapper {
    flex-direction: column;
  }

  .WorkExperienceCard {
    flex-basis: 40%;
  }
}
