.parentSkillsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.title {
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}

.skillWrapper,
.toolsWrapper {
  width: 50%;
}

.skillCardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.SkillsCard {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-hoverColor);
  padding: 20px;
  border-radius: 5px;
}

.skillsImage {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.skillTitle {
  color: #fff;
}

.toolsCardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .parentSkillsWrapper {
    flex-direction: column;
  }

  .skillWrapper,
  .toolsWrapper {
    width: 100%;
  }

  .toolsCardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skillCardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
